body {
  background-color: #2f3336;
  color: #efefef;
}
body {
  margin: 0;
  background-color: #2f3336;
  color: #efefef;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

body {
  margin: 0;
  background-color: #2f3336;
  color: #efefef;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
